/*Задаём общие параметры для всей страницы: шрифт и отступы*/
body{

  /*text-align: center;*/

  margin: 10;

  font-family: Verdana, Arial, sans-serif;

  font-size: 16px;

} 

/* Настраиваем внешний вид полей ввода*/

input {
	
  div { border-radius: 10px; }

  display: inline-block;

  margin: 1px auto;

  border: 2px solid #eee;;

  padding: 6px 6px;

  font-family: Verdana, Arial, sans-serif;

  font-size: 16px;

}

 
textarea {
	
	div { border-radius: 10px; }

  display: inline-block;

  margin: 5px auto;

  border: 2px solid #eee;

  padding: 10px 20px;

  font-family: Verdana, Arial, sans-serif;

  font-size: 15px;

}
.inputForm
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}
<style>
    input[type="text"]{
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
    }
 </style>
